<app-header-session></app-header-session>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">

<main>
    <section>
        <img src="../../../../assets/index/Vector.png" alt="Vector" class="vector">
        <div class="index-left">
            <h1>Compartir departamento o buscar compañero nunca fue tan fácil y seguro</h1>
            <a [routerLink]="['/login']">Conócenos</a>
        </div>
    </section>
    <section>
        <img src="../../../../assets/index/undraw_horror_movie_3988 1.png" alt="undraw_horror_movie_3988" class="index-img">
    </section>
    <!-- <span [routerLink]="['/login']">Login page</span> -->
</main>
