.main-container {
    position: relative;
    .search-rental-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: -1;
    }
    .form-container {
        display: flex;
        .search-rental-form {
            padding: 0 0 0 3vw;
        }
    }
    
}

.info-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}