<app-header-session></app-header-session>

<div class="select-role-content">

  <img id="img-left" src="assets/select-role/left.png" alt="background">
  <img id="img-rigth" src="assets/select-role/rigth.png" alt="background">

  <div class="actions-container">
    <div class="actions-container-image">
      <img src="assets/select-role/house.png" alt="house">
    </div>
    <div class="actions-container-button">
      <button (click)="selectAnfitrion()">Ser anfitrión</button>
    </div>
  </div>

  <div class="actions-container">
    <div class="actions-container-image">
      <img id="chilling-image" src="assets/select-role/chilling.png" alt="chilling">
      <img id="center-for-chilling" src="assets/select-role/center.png" alt="center image">
    </div>
    <div class="actions-container-button">
      <button (click)="selectInquilino()">Ser inquilino</button>
    </div>
  </div>

</div>
