@import '../../../../styles.scss';

#img-rigth{
  position:absolute;
  right: 0;
  top: -150px;
  width:140px;
  z-index: -1;
}

#img-left {
  position:absolute;
  left:0;
  top:-9px;
  width:450px;
  z-index: -1;
}
.select-role-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  padding: 0 100px;
  position: relative;
}

.actions-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 370px;
}

.actions-container-button{
  button{
    @include button-primary;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    // font-size: 1.7rem;
    font-weight: bold;
    padding: 15px 25px;
  }
}

.actions-container-image{
  position: relative;
}

#center-for-chilling{
  position: absolute;
  top: -6px;
  left: -144px;
  z-index: -1;
}

#chilling-image{
  position: absolute;
  top: 71px;
  left: -148px;
}

#house-image{
  position: absolute;
  top: 41px;
  left: -100px;
}