<app-header></app-header>
<main>
    <article *ngIf="rental">
        <img src="{{rental.imgList[0].fileUrl}}" alt="rental-image">
    </article>
    <section>
        <article>
            <h3>Descripción</h3>
            <p></p>
        </article>
        <article>
            <h3>Características</h3>
            <p></p>
        </article>
        <article>
            <h3>Requisitos</h3>
        </article>
        <button>
            Contactá al dueño
        </button>
    </section>
</main>