<footer>
  <div class="line-for-footer">
    <span id="footer-line"></span>
  </div>

  <div class="footer-title">
    <span>Contacto</span>
  </div>

  <div class="footer-links">
    <div class="footer-link-item">
      <span><a href="/support">Contactar Soporte</a></span>
    </div>
    <div class="footer-link-item"><span><a href="/help">Centro de ayuda</a></span></div>
    <div class="footer-link-item"><span><a href="/privacy-&-terms">Políticas y condiciones</a></span></div>
  </div>

  <div class="footer-copyright">
    <span>2022.Share.Inc</span>
  </div>
</footer>
