<app-header></app-header>
<main *ngIf="user">
    <form [formGroup]="form" (submit)="send(user, selectedFile)" autocomplete="off">
        <div class="edit-account-form-input-container edit-account-form-input-container-first-name">
            <label for="first-name">Nombre(s)</label>
            <input type="text" formControlName="firstName" id="first-name" class="input-name">
        </div>
        <div class="edit-account-form-input-container edit-account-form-input-container-last-name">
            <label for="last-name">Apellido(s)</label>
            <input type="text" formControlName="lastName" id="last-name" class="input-name">
        </div>
        <!-- <div class="edit-account-form-input-container edit-account-form-input-container-dni">
            <input type="text" formControlName="dni" id="dni" placeholder="Documento N°">
        </div> -->
        <div class="edit-account-form-input-container edit-account-form-input-container-email">
            <label for="email">Correo electrónico</label>
            <input type="text" formControlName="email" id="email">
        </div>
        <!-- <div class="edit-account-form-input-container edit-account-form-input-container-password">
            <input type="password" formControlName="password" id="password" placeholder="Contraseña" minlength="8">
        </div>
        <div class="edit-account-form-input-container edit-account-form-input-container-confirm-password">
            <input type="password" formControlName="confirmPassword" id="confirm-password" placeholder="Confirmar contraseña" minlength="8">
        </div> -->

        <!-- subida de imagenes -->
        <label for="image">Foto de perfil</label>
        <input type="file" name="image" id="image" formControlName="image" #imageInput (change)="processFile(imageInput)">

        <div class="edit-account-form-button-container">
            <button [disabled]="form.invalid">Guardar</button>
        </div>
    </form>
</main>