.info-card-container {
    background-color: var(--form-background-color);
    margin: 0 1vw;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(90, 67, 9, 0.4);

    .info-card-title {
        padding: 0 1rem;
    }
    .info-card-description {
        font-family: var(--text-secondary-font);
        padding: 0 1rem;
    }
}