<form [formGroup]="form" (submit)="send()" autocomplete="off">
    <div class="register-form-input-container register-form-input-container-name">
        <input type="text" formControlName="firstName" id="first-name" placeholder="Nombre(s)" class="input-name">
        <input type="text" formControlName="lastName" id="last-name" placeholder="Apellido(s)" class="input-name">
    </div>
    <div class="register-form-input-container register-form-input-container-dni">
        <input type="text" formControlName="dni" id="dni" placeholder="Documento N°">
    </div>
    <div class="register-form-input-container register-form-input-container-email">
        <input type="text" formControlName="email" id="email" placeholder="Correo electrónico">
    </div>
    <div class="register-form-input-container register-form-input-container-password">
        <input type="password" formControlName="password" id="password" placeholder="Contraseña">
    </div>
    <div class="register-form-input-container register-form-input-container-confirm-password">
        <input type="password" formControlName="confirmPassword" id="confirm-password" placeholder="Confirmar contraseña">
    </div>
    <div class="register-form-button-container">
        <button [disabled]="form.invalid">Registrarse</button>
    </div>
</form>
