<!-- <form [formGroup]="form" (submit)="send()"> -->
<form action="">
    <div class="register-form-input register-form-input-name">
        <input type="text" formControlName="name" id="name" placeholder="Nombre y apellido">
    </div>
    <div class="register-form-input register-form-input-email">
        <input type="text" formControlName="email" id="email" placeholder="Correo electrónico">
    </div>
    <div class="register-form-input register-form-input-password">
        <input type="password" formControlName="password" id="password" placeholder="Contraseña">
    </div>
    <div class="register-form-input register-form-input-confirm-password">
        <input type="password" formControlName="confirm-password" id="confirm-password" placeholder="Confirmar contraseña">
    </div>
    <div class="register-form-button">
        <button>Registrarse</button>
    </div>
</form>
