/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/alertifyjs/build/css/alertify.min.css';
// @import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

:root{
  --primaryHeader:hsl(240deg 100% 11%);

  --background-primary-color: #EDEDED;

  --text-primary-font: 'Exo', sans-serif;
  --text-secondary-font: 'Lato', sans-serif;
  --text-primary-color: #00003A;
  --text-secondary-color: #C4C4C4;

  --buttonPrimaryAction:hsl(353deg 96% 90%);
  --buttonPrimaryActionActiveRoute:hsl(324deg 47% 39%);
  --button-secondary-color: #FCA9C3;
}

body{
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
  font-family: var(--text-primary-font);
  margin: 0;
  a {
    color: var(--text-primary-color);
    text-decoration: none;
  }
}

.header-session{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--primaryHeader);
}

.header-session-logo{
  img{
    width: 70px;
    height: 30px;
    object-fit: cover;
  }
}

.header-session-buttons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-session-button-action{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: var(--buttonPrimaryAction);
  margin-left: 0.5rem;
}
