<section class="header-session">

  <section class="header-session-left">
    <article class="header-session-logo">
      <img src="../../../../assets/header/Share.png" alt="logo" [routerLink]="['']">
    </article>
    <article class="header-session-buttons" *ngIf="inquilino">
        <div class="header-session-button-action" [routerLink]="['','search-rental']" routerLinkActive="activeRoute">
          Buscar Alquiler 
        </div>
        <div class="header-session-button-action" [routerLink]="['','search-roommate']" routerLinkActive="activeRoute">
          Buscar Compañero
        </div>
    </article>
    <article class="header-session-buttons" *ngIf="anfitrion">
      <div class="header-session-button-action" [routerLink]="['','create-rental']" routerLinkActive="activeRoute">
        Cargar propiedad 
      </div>
      <div class="header-session-button-action" [routerLink]="['','my-rentals']" routerLinkActive="activeRoute">
        Mis propiedades
      </div>
    </article>
  </section>

    <article class="header-session-buttons-profile">
      <div class="header-session-button-action" [routerLink]="['','select-role']" routerLinkActive="activeRoute"
      *ngIf="inquilino">
        Soy inquilino (cambiar)
      </div>
      <div class="header-session-button-action" [routerLink]="['','select-role']" routerLinkActive="activeRoute"
      *ngIf="anfitrion">
        Soy anfitrion (cambiar)
      </div>
      <div class="header-session-button-action" [routerLink]="['','account']" routerLinkActive="activeRouteSession">
        PFP
      </div>
      <button (click)="disconnect()">logout</button>
    </article>
  </section>  