<section class="header-session">

  <section class="header-session-left">
    <article class="header-session-logo">
      <img src="../../../../assets/header/Share.png" alt="logo" [routerLink]="['']">
    </article>
    <article class="header-session-buttons" *ngIf="inquilino">
        <div class="header-session-button-action" [routerLink]="['','search-rental']" routerLinkActive="activeRoute">
          Buscar Alquiler 
        </div>
        <div class="header-session-button-action" [routerLink]="['','search-roommate']" routerLinkActive="activeRoute">
          Buscar Compañero
        </div>
    </article>
    <article class="header-session-buttons" *ngIf="anfitrion">
      <div class="header-session-button-action" [routerLink]="['','create-rental']" routerLinkActive="activeRoute">
        Cargar propiedad 
      </div>
      <div class="header-session-button-action" [routerLink]="['','my-rentals']" routerLinkActive="activeRoute">
        Mis propiedades
      </div>
    </article>
  </section>

    <article class="header-session-buttons-profile">
      <div class="header-session-button-action" [routerLink]="['','select-role']" routerLinkActive="activeRoute"
      *ngIf="inquilino">
        Soy inquilino (cambiar)
      </div>
      <div class="header-session-button-action" [routerLink]="['','select-role']" routerLinkActive="activeRoute"
      *ngIf="anfitrion">
        Soy anfitrion (cambiar)
      </div>

      <!-- profile pic -->
      <div *ngIf="userImgDefault; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="header-session-button-action" [routerLink]="['','account']" routerLinkActive="activeRoute" *ngIf="">
          <img src="../../../../assets/header/Profile-PNG-File.png" alt="profile-pic-empty" class="header-session-button-profile">
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="header-session-button-action" [routerLink]="['','account']" routerLinkActive="activeRoute" *ngIf="userImg">
          <div class="header-session-button-profile-custom-container">
            <img src="{{userImg}}" alt="profile-pic-empty" class="header-session-button-profile-custom">
          </div>
        </div>
      </ng-template>
      
      

      <button (click)="disconnect()" class="header-session-button-signout"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
    </article>
  </section>  